# Supabase Configuration
VITE_SUPABASE_URL=https://prupdclnraqznyrgyfxz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBydXBkY2xucmFxem55cmd5Znh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0OTIzNjUsImV4cCI6MjA5OTA2ODM2NX0.u2JQ7CD4ILXav-w9jQBuci7oIdwlEIvW_9YYcQB-emY
